@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/abcya');                                                
@tailwind components;
@tailwind utilities;

:root {
    --pink: #FD9CC5;
    --red: #FE0944;
}

* {
    font-family: 'ABCYa', sans-serif;
    scroll-behavior: smooth;
                                                
}

.rosy {
    background:var(--pink) ;
    background: linear-gradient(to right,var(--pink)  0%, var(--red) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Leckerli One', cursive;
}

.rosyy {
    border-radius: 20px;
    padding: 5px 15px;
    background: #FD9CC5;
    background: linear-gradient(90deg, var(--pink) 0%, var(--red) 100%);
}

.lift {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, var(--pink) 0%, var(--red) 100%);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, var(--pink) 0%, var(--red) 100%);

}
