@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.rosy {
    background:#FFA69E ;
    background: linear-gradient(to right, #FEAE96 0%, #FE0944 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lift {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
