@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

.rosy {
    background:#FD9CC5 ;
    background: linear-gradient(to right,#FD9CC5  0%, #FE0944 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Leckerli One', cursive;
}

.rosyy {
    border-radius: 20px;
    padding: 5px 15px;
    background: #FD9CC5;
    background: linear-gradient(90deg, #FD9CC5 0%, #FE0944 100%);
}

.lift {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
