---
import Layout from '../layouts/Layout.astro';
import Cake from '../components/Cake.astro';

---

<Layout title="Rosy Hearts">
<h1 class="my-5 text-3xl text-center">Rosy Heart <span class="rosy font-bold">Classics</span></h1>
</Layout>
