---
import Layout from '../layouts/Layout.astro';
import Member from '../components/Member.astro';

---

<Layout title="Rosy Hearts">
<h1 class="mb-5 mt-10 text-3xl text-center">Our<span class="rosy"> Team </span></h1>

<div class="grid grid-cols-1 md:grid-cols-3 w-3/5 m-auto gap-5">

<Member 
name="Rosie Baker"
role="Founder and Head Baker"
img="/rosie.jpg"
/>

<Member 
name="Emily Johnson"
role="Assistant Baker"
img="/emily.jpg"
/>

<Member 
name="Thomas Patel"
role=" Cake Decorator"
img="/patel.jpg"
/>

</div>

<h1 class="mb-5 mt-10 text-3xl text-center">More<span class="rosy"> About </span>Us</h1>

<div class="grid grid-cols-1 md:grid-cols-3 md:w-3/5 w-10/12 m-auto gap-5">
<div class="col-span-1 md:col-span-2 lift rounded-lg p-3">
        <h1 class="text-xl">History</h1>
        <p>Rosy Hearts was founded in 2010 by Rosie Baker, a passionate baker with a dream of spreading joy through delicious cakes. Starting from a small home-based business, Rosy Hearts quickly gained popularity for its delectable creations and exceptional service.</p>
</div>

<div class="col-span-1 md:col-span-1 lift rounded-lg p-3">
    <h1 class="text-xl">Values</h1>
    <div>
        <li>Passion for Baking</li>
        <li>Attention to Detail</li>
        <li>Customer Satisfaction</li>
        <li>To be the Best</li>
    </div>
</div>

<div class="col-span-1 md:col-span-3 lift rounded-lg p-3">
    <h1 class="text-xl">Mission</h1>
    <p>Our mission is to create delectable cakes that not only taste amazing but also bring smiles to every celebration. We believe that our cakes are not just desserts but a centerpiece that adds beauty, joy, and sweet memories to every occasion.</p>
</div>

<div class="col-span-1 md:col-span-1 lift rounded-lg p-3">
    <h1 class="text-xl">Unique Selling Points</h1>
    <div>
        <li>Customized Cakes</li>
        <li>Wide Range of Flavors</li>
        <li>Stunning Designs</li>
    </div>
</div>

<div class="col-span-1 md:col-span-2 lift rounded-lg p-3">
    <h1 class="text-xl">Quality and Ingredients:</h1>
    <p>At Rosy Hearts, we believe that the best cakes are made with love and premium ingredients. We are committed to using only the finest quality ingredients, sourced locally whenever possible.</p>
</div>


</div>
</Layout>

