---
import Layout from '../layouts/Layout.astro';
import Cake from '../components/Cake.astro';

const cakes = await Astro.glob('../pages/cakes/*.md'); 
const classicCakes = cakes.filter((post) => post.frontmatter.tags.includes("classic"));
const seasonalCakes = cakes.filter((post) => post.frontmatter.tags.includes("seasonal"));
const leagueCakes = cakes.filter((post) => post.frontmatter.tags.includes("league"));
---

<Layout title="Rosy Hearts">
<h1 class="mb-5 mt-10 text-3xl text-center">The <span class="rosy"> League members </span>Cakes</h1>
<div class="cakes grid grid-cols-1 md:grid-cols-3 w-4/5 m-auto gap-5">
{leagueCakes.map((cake) => <Cake {cake}/>)}
</div>

<h1 class="mb-5 mt-10 text-3xl text-center">Our <span class="rosy"> Seasonal </span>Cakes</h1>
<div class="cakes grid grid-cols-1 md:grid-cols-3 w-4/5 m-auto gap-5">
{seasonalCakes.map((cake) => <Cake {cake}/>)}
</div>

<h1 class="mb-5 mt-10 text-3xl text-center">Rosy Hearts <span class="rosy"> Classics </span></h1>
<div class="cakes grid grid-cols-1 md:grid-cols-3 w-4/5 m-auto gap-5">
{classicCakes.map((cake) => <Cake {cake}/>)}
</div>
</Layout>

