---
import Layout from '../layouts/Layout.astro';
import Box from '../components/Box.astro';

---

<Layout title="Rosy Hearts">

<h1 class="mb-5 mt-10 text-3xl text-center "><span class="rosy"> Contact </span>Us</h1>

<div class="grid grid-cols-1 md:grid-cols-3 w-4/5 m-auto gap-5 md:pt-12">
    <Box 
    icon="/icons/c1.png"
    text="Feel free to contact our Suva branch on 9992221 and Nausori branch on 9993331"
    alt="black outlineicon of a phone"
    />
    <Box 
    icon="/icons/c2.png"
    text="Our main branch and HR department is located at Main Street, Suva, Fiji"
    alt="black outlineicon of a evlelope"
    />
    <Box 
    icon="/icons/c3.png"
    text="For business enquiries and proposals, shoot us an email at info@rosyhearts.com"
    alt="black outlineicon of a map"
    />
</div>

<h1 class="mb-5 mt-10 text-3xl text-center "><span class="rosy"> Find </span>Us Here:</h1>

<div class="w-4/5 m-auto h-96">
    <iframe  width="100%" height="400" src="//jsfiddle.net/tr5xm0ua/4/embedded/result,html,css/dark/?accentColor=38B6FF&bodyColor=282A30&menuColor=151515" allowfullscreen="allowfullscreen" ></iframe></div>
</Layout>


