---
import Layout from '../layouts/Layout.astro';
import Cake from '../components/Cake.astro';

const allCakes = await Astro.glob('../pages/cakes/*.md'); 
---

<Layout title="Rosy Hearts">
    <div class="h-full w-full top-0 fixed bg-red-300 z-50 flex justify-center items-center sm:block md:hidden">
        <p class="p-5 text-2xl">The mobile version of this website is still under developement. Please use the desktop cersoin for the time being. Thank you.</p>
    </div>
<div class="h-90v relative flex items-center justify-center flex-col overflow-hidden">
    <h1 class="mb-5 text-6xl ">Valentines Seasonal Store</h1>
   <div>
    <a href="/seasonal" class="text-xl rosyy py-2 px-4 m-2 bg-white text-white"><button>Buy Cakes</button></a>
    <img src="/hero.jpg" alt="" class="absolute w-full h-full object-cover top-0 left-0 object-center -z-10">
   </div>
</div>

<h1 class="my-5 text-3xl text-center">Rosy Heart <span class="rosy">Classics</span></h1>
<div class="cakes grid grid-cols-3 w-4/5 m-auto gap-5">
{allCakes.map((cake) => <Cake {cake}/>)}
</div>
</Layout>

