---
import Layout from '../layouts/Layout.astro';
import Cake from '../components/Cake.astro';

const cakes = await Astro.glob('../pages/cakes/*.md'); 
const seasonalCakes = cakes.filter((post) => post.frontmatter.tags.includes("seasonal"));
---

<Layout title="Rosy Hearts">
<h1 class="my-5 text-3xl text-center">Our<span class="rosy"> Seasonal </span>Cakes</h1>
<div class="cakes grid grid-cols-1 md:grid-cols-3 w-4/5 m-auto gap-5">
{seasonalCakes.map((cake) => <Cake {cake}/>)}
</div>
</Layout>

<style>
    .hero {
        background-color: #FD9CC5;
    }
</style>

