---
import Layout from '../layouts/Layout.astro';
import Box from '../components/Box.astro';

---

<Layout title="Rosy Hearts">

<h1 class="mb-5 mt-10 text-3xl text-center "><span class="rosy"> Contact </span>Us</h1>

<div class="grid grid-cols-1 md:grid-cols-3 w-4/5 m-auto gap-5 md:pt-12">
    <Box 
    icon="/icons/c1.png"
    text="Feel free to contact our Suva branch on 9992221 and Nausori branch on 9993331"
    alt="black outlineicon of a phone"
    />
    <Box 
    icon="/icons/c2.png"
    text="Our main branch and HR department is located at Main Street, Suva, Fiji"
    alt="black outlineicon of a evlelope"
    />
    <Box 
    icon="/icons/c3.png"
    text="For business enquiries and proposals, shoot us an email at info@rosyhearts.com"
    alt="black outlineicon of a map"
    />
</div>

<h1 class="mb-5 mt-10 text-3xl text-center "><span class="rosy"> Find </span>Us Here:</h1>

<div class="w-4/5 m-auto">
    <p class="codepen" data-height="400" data-theme-id="dark" data-default-tab="css,result" data-slug-hash="dygezJP" data-editable="true" data-user="anav5704" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/anav5704/pen/dygezJP">
        Creative CSS Social Icons</a> by Anav Chand (<a href="https://codepen.io/anav5704">@anav5704</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</Layout>


