<footer class="flex justify-center h-10v items-center text-lg  lift mt-10 bg-pink-300">
  <p class="text-white"> Copyright <span id="year"></span> | RosyHearts.com by <a class="" href="https://www.instagram.com/anav.webdev/">Anav</a></p>
</footer>

<style>
    footer {
        padding: 5px 15px;
        background: #FD9CC5;
        background: linear-gradient(90deg, var(--pink) 0%, var(--red) 100%);
    }
</style>

<script>

    const date = new Date();
    document.getElementById("year").innerHTML = date.getFullYear().toString();
    
</script>




































