---
import { Image } from '@astrojs/image/components';

const {name, role, img, alt} = Astro.props;
---

<div class="col-span-1">
    <div class="lift rounded-full lit overflow-hidden w-40 h-40 m-auto mt-5 md:mt-0 ">
        <Image 
        class="lift m-auto"
        src={img} 
        alt={alt}  
        aspectRatio={1/1}
        format="avif"
        height={200}
        fit="cover"
        position="center"
        />
    </div>
    <h1 class="text-center mt-5 text-xl">{name}</h1>
    <p class="text-center">{role}</p>
</div>