<nav class="hidden md:flex justify-center h-10v items-center text-xl  lift bg-white">
    <ul class="flex ul1">
        <li class="mr-8"><a href="/">Home</a></li>
        <li class="mr-8"><a href="/cakes">Cakes</a></li>
    </ul>
    <div><a  class="rosy text-3xl" href="/">Rosy Hearts</a></div>
    <ul class="flex ul2">
        <li class="ml-8"><a href="/about">About</a></li>
        <li class="ml-8"><a href="/contact">Contact</a></li>
    </ul>
</nav>

<nav class="flex flex-col justify-center h-10v items-center text-xl  lift bg-white relative md:hidden">
    <div>
        <div  class="cursor-pointer rosy text-3xl" id="btn">Rosy Hearts</div>
    </div>
    <ul class="lit hidden ul1 absolute ul3 text-center z-10 py-2" id="nav">
        <li class="p-2"><a href="/">Home</a></li>
        <li class="p-2"><a href="/cakes">Cakes</a></li>
        <li class="p-2"><a href="/about">About</a></li>
        <li class="p-2"><a href="/contact">Contact</a></li>
    </ul>
</nav>

<style>
    a {
        padding: 5px;
        transition: all .3s ease;
    }

    .ul1 a:hover {
        color: #FD9CC5;
    }

    .ul2 a:hover {
        color: #FE0944;
    }

    .ul3 {
        top: calc(10vh + 20px);
        background-color: white;
        width: 90%;
        border-radius: 10px;
    }
</style>

<script>
    document.getElementById("btn").addEventListener("click", () => {
    document.getElementById("nav").classList.toggle("hidden")
    })
</script>

