<nav class="flex justify-center h-10v items-center text-xl  lift bg-white">
    <ul class="flex ul1">
        <li class="mr-8"><a href="/">Home</a></li>
        <li class="mr-8"><a href="/cakes">Cakes</a></li>
    </ul>
    <div><a  class="rosy text-3xl" href="/">Rosy Hearts</a></div>
    <ul class="flex ul2">
        <li class="ml-8"><a href="/about">About</a></li>
        <li class="ml-8"><a href="/contact">Contact</a></li>
    </ul>
</nav>

<style>
    a {
        padding: 5px;
        transition: all .3s ease;
    }

    .ul1 a:hover {
        color: #FD9CC5;
    }

    .ul2 a:hover {
        color: #FE0944;
    }
</style>

