<nav class="flex justify-center h-10v items-center text-xl  lift bg-white">
    <ul class="flex">
        <li class="mr-8"><a href="/">Home</a></li>
        <li class="mr-8"><a href="/cakes">Cakes</a></li>
    </ul>
    <div class="rosy text-3xl">Rosy Hearts</div>
    <ul class="flex">
        <li class="ml-8"><a href="">About</a></li>
        <li class="ml-8"><a href="">Contact</a></li>
    </ul>
</nav>

<style>
    a {
        padding: 5px;
        color: #861657;
        transition: all .3s ease;
    }

    a:hover {
        color: #FFA69E;
    }
</style>

