---
const { frontmatter } = Astro.props;
---

<div class="rounded-lg flex w-1/2 m-auto items-center p-5 my-5 lift ">
  <div class="flex justify-evenly w-3/4">
        <div class="">
            <img src="/icons/sm.png" alt="" class="icon scale-75 origin-bottom">
            <p class="text-lg font-bold">{frontmatter.priceSM}</p>
        </div>
        <div class="">
            <img src="/icons/md.png" alt="" class="icon scale-90 origin-bottom">
            <p class="text-lg font-bold">{frontmatter.priceMD}</p>
        </div>
        <div class="">
            <img src="/icons/lg.png" alt="" class="icon">
            <p class="text-lg font-bold">{frontmatter.priceLG}</p>
        </div>
  </div>
  <div class="w-1/4 flex flex-col items-center">
    <a class="m-1 w-24 text-center btn text-white" href=""><button>Deliver</button></a>
    <a class="m-1 w-24 text-center btn text-white" href=""><button>Order</button></a>
  </div>

</div>

<style>
    .btn {
        border-radius: 20px;
        padding: 5px 15px;
        background: #FD9CC5;
        transition: all .3s ease;
    }

    .btn:hover {
        background: #FE0944;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

</style>


